name: RSpec CI

on:
  push:
    branches:
      - 'dev'
      - 'main'
      - '*-maintenance'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  mocks:
    uses: rspec/rspec/.github/workflows/rspec.yml@fix-3-13-maintenance
    with:
      library: 'rspec-mocks'
      rspec_version: '~> 3.13.0'
